body {
	margin: 2%;
	border: 1px solid black;
	background-color: #b3b3b3;
}

#image {
	line-height: 650px;
	width: 575px;
	height: 650px;
	border: 5px solid black;
	margin: 0 auto;
	background-color: #111214;
	background-image: url('');
	background-repeat: no-repeat;
	color: #ec0303;
	text-align: center;
	background-size: 100%;
	margin-bottom: 25px;
	font-size: 150%;
}

.preview {
	width: calc(33.33% - 20px); /* Adjusted width to fit three images in a row with some margin between them */
	margin: 0 10px; /* Added margin between images */
	border: 10px solid black;
	display: inline-block; /* Ensures images are displayed inline */
}

.row {
	text-align: center; /* Centers the images within the row */
	margin-bottom: 20px; /* Adds space between rows */
	white-space: nowrap; /* Prevents images from wrapping to the next line */
	overflow-x: auto; /* Enables horizontal scrolling if the images exceed the viewport */
}
